<nav class="navbar navbar-default-bg-primary navbar-fixed-bottom" style="background-color: #000000">
  <div class="footer-container">
    <h4 class="navbar-text">Copyright Jonathan Lee</h4>
  </div>
</nav>

<!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
