<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="project-container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
<div class="panel panel-primary" style="max-width:400px;margin-left:auto; margin-right:auto;">
  <div class="panel-heading">Jim's Revenge</div>
  <div class="panel-body">Panel Content</div>
</div>
<br>
<div class="panel panel-success" style="max-width:400px;margin-left:auto; margin-right:auto;">
  <div class="panel-heading">An Ancient Score</div>
  <div class="panel-body">Panel Content</div>
</div>
<br>
<div class="panel panel-danger" style="max-width:400px;margin-left:auto; margin-right:auto;">
  <div class="panel-heading">Rising Havoc</div>
  <div class="panel-body">Panel Content</div>
</div>

        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


