<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--css section-->

    <title>Jon's Portfolio Page!</title>
    <link rel='stylesheet' href='/content/app.css' />
    <h1>Jon's Portfolio Page!</h1>
  </head>
  <body>
      <div class="container">
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <font size =1><a href="https://github.com/822937603/">Github</a> - <a href="https://www.linkedin.com/in/jonathan-lee-015a9231">LinkedIn</a></font>
<br>
<a name=about href="/about"><img src="AboutMe.png"></a><br>
<a name=project href="/project"><img src="MyProjects.png"></a><br>
<a name=project href="/services"><img src="Services.jpeg"></a><br>
<a name=project href="/services"><img src="ContactMe.jpg"></a><br>
  </body>
</html>
