/*
  Name: Jonathan Lee #822937603
  File Name: app.cs
  Website Name: https://comp308-assignment-2.herokuapp.com
  Description: css formatting for views
*/

body 
  {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif, white;
    background-color: black;
    text-align: center;
  }

index-container
  {
    text-align: left;
    width:800px;
    margin: 0 auto;
  }

h1
  {
    color: white;
  }
  
a 
  {
    color: #353131;
  }

/* Navbar */
.navbar-default 
  {
    background-color: #154A8A;
    border-color: #154A8A;
  }

/* Navbar Title */
.navbar-default .navbar-brand 
  {
    color: #154A8A;
  }

.nav-pills
  {
    background-color: dimgrey;
    align-self: center;
    text-align:center;
  }

.nav-pills > li.active > a, .nav-pills > li.active > a:focus 
  {
    color: green;
    background-color: #fcd900;
  }

.container
  {
    background-color: dimgray;
  }

/* Carousel */
carousel slide
  {
    width: 80%;
    margin: auto;
  }

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img
  {
    width: 100%;
    margin: auto;
  }

.carousel-inner
  {
    width: auto;
    height: 250px;
    max-height: 250px;
  }

.nav-pills
  {
    text-align:center;
  }