<!-- Name: Jonathan Lee #822937603
     File Name: index.ejs
     Website Name: http://comp308-assignment1.herokuapp.com/
     Description: handles HTML for the homepage page
-->

<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="index-container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">

          <!-- CAROUSEL -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <a name=about href="/about"><img src="assets/AboutMe.png"></a>
    </div>

    <div class="item">
      <a name=project href="/projects"><img src="assets/MyProjects.png"></a>
    </div>

    <div class="item">
      <a name=project href="/services"><img src="assets/Services.jpeg"></a>
    </div>

    <div class="item">
      <a name=project href="/contact"><img src="assets/ContactMe.jpg"></a>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  </div>
</div>
        </div>
      
<% include ../partials/footer.ejs %>


